{% extends 'main.html' %}
{% load static %}
{% block content %}
<section class="bg-light">
    <div class="container">
        <div class="row ">
            <div class="col-md-6 my-4">
                <img src="{% static 'image/primer.jpg'%}" class="img-fluid" alt="" width="400"
                    style="border-radius: 150px;">
            </div>
            <div class="col-md-6">
                <h5 class="text-center" style="color: #a517ba; font-size: 1.5rem;">ANDEX B51</h5>
                <p>Andex B51 is a liquid waterproofing and protective coating for concrete structures based on a hybrid
                    polyurethane. The polyurethane is modifies with specially selected polymers to form a tough,
                    flexible and durable coating. <br class="mt-1"> &nbsp; Primer and bonding agent with water repellrnt
                    effect
                    plaster
                    boars and plaster render to received wall, floor and concrete reders. </p>
                <h5 class="text-center"
                    style="border: 1px outset ; background-color: black; color: #a517ba; margin: auto; width: 300px; border-radius: 20px;">
                    Fields of
                    Application</h5>
                <ul class="mt-2">
                    <li>waterproofing of wet areas like bathrooms, toilets, pubic showers & kitchen.</li>
                    <li>waterproofing of roofs, terraces, balconies, domes, aluminium sandwich panels and corrugated
                        sheets.</li>
                </ul>
                <h5 class="text-center"
                    style="border: 1px outset ; background-color: black; color: #a517ba; margin: auto; width: 300px; border-radius: 20px;">
                    Storage</h5>
                <p>Store on pallets and covered in a cool, shaded & dry place. Do not stack.</p>
                <h5 class="text-center"
                    style="border: 1px outset ; background-color: black; color: #a517ba; margin: auto; width: 300px; border-radius: 20px;">
                    Package</h5>
                <ul>
                    <li>20L</li>
                    <li>4L</li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock content %}