{% extends 'main.html' %}
{% load static %}
{% block content %}
<section class="bg-light">
    <div class="container">
        <div class="row ">
            <div class="col-md-6 my-4">
                <img src="{% static 'image/b12.jpg'%}" class="img-fluid" alt="" width="400"
                    style="border-radius: 150px;">
            </div>
            <div class="col-md-6">
                <h5 class="text-center" style="color: #a517ba; font-size: 1.5rem;">B12 Screeding Plaster</h5>
                <p>Top chioce Screeding Plaster B1 for external or internal use for wall, Mosaie, Marble and Floors..
                    <br> &nbsp; &nbsp;It cures to form a tough flexible coating for Screeding and filling cracks on
                    wall. Top
                    Chioce B12 screeding plaster is mixed with <a href="{%url 'shop:andex'%}">Andex B51</a> to give an
                    excellent waterproofing coating effect when screeding your wall</p>
                <h5 class="text-center"
                    style="border: 1px outset ; background-color: black; color: #a517ba; margin: auto; width: 300px; border-radius: 20px;">
                    Fields of
                    Application</h5>
                <ul class="mt-2">
                    <li>High quality waterproofing properties when mixed with <a href="{%url 'shop:andex'%}">Andex
                            B51</a> </li>
                    <li>To fill Gaps between Tiles, Marbles</li>
                    <li>Tough flexible coat for screeding of walls</li>
                </ul>
                <h5 class="text-center"
                    style="border: 1px outset ; background-color: black; color: #a517ba; margin: auto; width: 300px; border-radius: 20px;">
                    Storage</h5>
                <p>Store in a dry, cool and shaded area. Protect from sunlight, frost and high humidity. </p>
                <h5 class="text-center"
                    style="border: 1px outset ; background-color: black; color: #a517ba; margin: auto; width: 300px; border-radius: 20px;">
                    Package</h5>
                <ul>
                    <li>20kg</li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock content %}